<h1>Livros disponiveis</h1>
<div class="books-container">
    {{#each books}}
    <div>#{{this.id}} - 
        <span class="bold"><strong><a href="/books/{{this.id}}">{{this.tittle}}</a></strong></span> 
    - {{this.pageqty}} páginas
    </div>
    {{/each}}
    
</div>



<h1><a href="/">Cadastrar mais</a></h1>