<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Meu Catálogo de Veículos</title>
</head>
<body>

    <header class="main-header">
        <h1>Meu Catálogo</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/carros">Carros</a>
            <a href="/motos">Motos</a>
            <a href="/bikes">Bikes</a>
            <a href="/avioes">Aviões</a>
        </nav>
    </header>

    <main class="container">
        {{{body}}}
    </main>

    <footer class="main-footer">
        <p>&copy;   Renan Rodrigues dos Santos - 2025</p>
    </footer>

</body>
</html>