<div id="book-page">
    <a href="/books">voltar</a>
    <div class="container">
        <h1>{{book.tittle}}</h1>
        <p>Este livro tem {{book.pageqty}} páginas.</p>
        <div class="actions">
            <a href="/books/edit/{{book.id}}">editar</a>
        </div>
    </div>
</div>