<h1>Edite o seu livro</h1>
<div class="container">
    <form action="/books/insertbook" method="post" class="form">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Digite o título" value="{{book.tittle}}">
        </div>
        <div class="form-control">
            <label for="pageqty">Número de páginas:</label>
            <input type="number" name="pageqty" placeholder="Digite o numero de paginas" value="{{book.pageqty}}">
        </div>
        <input type="submit" value="editar">
    </form>
</div>